:root {
    --rich-black-fogra-29: #000814ff;
    --oxford-blue: #001e3dff;
    --indigo-dye: #003f7aff;
    --gold-fusion: #7e6f4eff;
    --deep-space-sparkle: #455f5eff;
    --space-cadet: rgb(23, 33, 100);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white;
}

body {
    background-image: url('../images/night-globe-w-black-background.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}

main {
    background-image: url('../images/welcome-diff-langs.jpeg');
    background-size: contain;
    grid-area: main;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border: var(--space-cadet) solid 20px;
}

#container {
    display: grid;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 8%;
    margin-bottom: 140px;
    height: 50%;
    width: 50%;
    grid-gap: 5px;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr 1fr;
    grid-template-areas: "welcome-banner welcome-banner score-banner"
                         "main main main"
                         "instructions-btn instructions-btn play-btn"
                         "input-box submit-btn restart-btn";
}

#welcome-banner, #score-banner, #instructions-btn, #restart-btn, #play-btn, #input-box, #submit-btn, #next-btn, #hint-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deep-space-sparkle);
    padding: 10px;
  }

#welcome-banner {
    grid-area: welcome-banner;
}

#score-banner {
    grid-area: score-banner;
}

#instructions-box {
    background-color: var(--dark-liver);
    display: none;
    margin: 40px 50px 40px 50px;
    font-size: 30px;
    text-align: center;
    z-index: -1;
}

#lang-stats {
    display: none;
    max-width: 75%;
    margin-left: 12%;
}

#instructions-btn {
    grid-area: instructions-btn;
}

#play-btn {
    grid-area: play-btn;
}

#restart-btn {
    grid-area: restart-btn;
    display: none;
}

#input-box {
    grid-area: input-box;
    background-color: white;
    color: black;
    display: none;
    border: var(--indigo-dye) solid 10px;
}

#submit-btn {
    grid-area: submit-btn;
    display: none;
}

#play-boxes {
    display: none;
    text-align: center;
    margin: 10px 50px 40px 50px;
}

#result-text {
    display: none;
    margin: 10px 50px 40px 50px;
}

#next-btn {
    display: none;
    margin-left: 45%;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 800;
}

button {
    border-radius: 30px;
    cursor: pointer;
}

#instructions-btn:hover, #play-btn:hover, #submit-btn:hover, #restart-btn:hover, #next-btn:hover, #hint-btn:hover {
    background-color: rgb(39, 51, 51);
}

h1 {
    font-size: 60px;
}

#translation-text {
    font-size: 40px;
}

#level-box {
    text-decoration: underline;
}

#hint-btn {
    margin-left: 37%;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 800;
}

#hint-text {
    font-size: 25px;
    margin: 30px;
}

#phrase-audio {
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
}


/* ===== MEDIA QUERIES ===== */

@media (max-width: 600px) {

* {
    font-size: 17px;
}

body {
    background-image: url('../images/night-globe-w-black-background.png');
    background-size: 100%;
    height: 600px;
    background-position: center center;
    background-position: bottom;
}

main {
    background-image: url('../images/welcome-diff-langs.jpeg');
    background-size: contain;
    grid-area: main;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border: var(--space-cadet) solid 10px;
}

#container {
    margin: 5px auto;
    width: 100%;
    height: 100%;
}

#welcome-banner, #score-banner, #instructions-btn, #restart-btn, #play-btn, #input-box, #submit-btn, #next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deep-space-sparkle);
    padding: 0px;
    font-size: 9px;

  }

#next-btn {
    padding: 10px;
}

#input-box {
    font-size: 18px;
    border: var(--indigo-dye) solid 5px;
    color: white;

}

#play-boxes {
    display: none;
    text-align: center;
    margin: 0 auto;
}

#result-text {
    display: none;
    margin: 0 auto;
}

#next-btn, #input-box, #submit-btn, #restart-btn {
    display: none;
}

h1, #translation-text {
    font-size: 20px;

}

#hint-text {
    font-size: 14px;
}

#instructions-box {
    font-size: 18px;
    margin: 2px;
}

#lang-stats {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

}