* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

body {
    background-image: url('../images/490026.webp');
}

main {
    background-image: url('../images/languages-around-the-world-1024x710.png');
    background-size: contain;
    background-color: rgb(243, 243, 243);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border: rgb(219, 186, 110) solid 20px;

}

#container {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    height: 70%;
    width: 70%;
    grid-gap: 5px;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr 1fr;
    grid-template-areas: "welcome-banner welcome-banner top-right"
                         "main main main"
                         "instructions-btn instructions-btn play-btn"
                         "btm-left restart-btn btm-right";
}

#welcome-banner, #top-right, #instructions-btn, #restart-btn, #play-btn, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 199, 109);
  }

main {
    grid-area: main;
}

#welcome-banner {
    grid-area: welcome-banner;
}


#top-right {
    grid-area: top-right;
}

#instructions-btn {
    grid-area: instructions-btn;
    cursor: pointer;
}

#play-btn {
    grid-area: play-btn;
    cursor: pointer;
}

#restart-btn {
    grid-area: restart-btn;
    display: none;
}

#btm-left {
    grid-area: btm-left;
    display: none;
}

#btm-right {
    grid-area: btm-right;
    display: none;
}

button {
    border-radius: 30px;
}