* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

body {
    /* background-image: url('../images/490026.webp'); */
}

main {
    background-image: url('../images/languages-around-the-world-1024x710.png');
    background-size: contain;
    background-color: lavender;
    grid-area: main;
    text-align: center;
    background-color: rgb(243, 243, 243);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border: rgb(219, 186, 110) solid 20px;

}

#container {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    height: 70%;
    width: 70%;
    grid-gap: 5px;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 8fr 1fr 1fr;
    grid-template-areas: "welcome-banner welcome-banner score-banner"
                         "main main main"
                         "instructions-btn instructions-btn play-btn"
                         "input-box submit-btn restart-btn";
}

#welcome-banner, #score-banner, #instructions-btn, #restart-btn, #play-btn, #input-box, #submit-btn, #next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 199, 109);
  }

#welcome-banner {
    grid-area: welcome-banner;
}

#score-banner {
    grid-area: score-banner;
}

#instructions-box {
    background-color: rgb(243, 243, 243);
    display: none;
    font-size: 22px;
    text-align: center;
}

#instructions-btn {
    grid-area: instructions-btn;
}

#play-btn {
    grid-area: play-btn;
}

#restart-btn {
    grid-area: restart-btn;
    display: none;
}

#input-box {
    grid-area: input-box;
    background-color: white;
    display: none;
    border: black solid 10px;
}

#submit-btn {
    grid-area: submit-btn;
    display: none;
}

#play-boxes {
    display: none;
    text-align: center;
}

#result-text {
    display: none;
}

#next-btn {
    display: none;
    margin-left: 45%;
    padding: 10px;
    font-weight: 800;
}

button {
    border-radius: 30px;
    cursor: pointer;
}